
* {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    width: 75px;
    height: 75px;
    margin: auto;
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    cursor: pointer;
}

.calc {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    max-width: 100%;
}


#equal {
    margin-top: 0;
}

#display {
    padding: 5px 0;
    background-color: #f0f0f0;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 298px;
    height: 75px;
    margin-top: 12%;
    border-radius: 10px 10px 0 0;
    border: 1px solid #000;
    border-collapse: collapse;
    color: black;
    max-width: 100%;
}

.decimal {
    font-weight: bold;
    background-color: #575757;
    color: white;

}

.clear {
    background-color: #ff0000;
}

.operator {
    background-color: #f3f800;
}

#equal {
    background-color: #09db02;
    width: 300px;
    height: 75px;
    border-radius: 0 0 10px 10px;
}

#display, #equal, .calc  {
        margin-left: 80px;
    }


@media screen and (min-width: 600px) {
    #display, #equal, .calc  {
        margin-left: 40vw;
    }

    #display {
        margin-top: 10%;
    }
}
